

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin-layout, .user-layout {
  font-family: 'Poppins', sans-serif; 
}

ul {
  list-style-type: none;
}
li {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

// text
.text-center {
  text-align: center;
}
.text-error {
  color: red;
}

.admin-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 290px 1fr;
}

nav {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  // font-size: 1.1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav a.active {
  font-weight: bold;
}
.active {
  font-weight: bold;
}

.submenu {
  margin: 20px 0 0 20px;
}

.content {
  padding: 20px;
}