

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
li {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    font-weight: bold;
  }
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
}

nav {
  background-color: #333;
  color: white;
  padding: 20px;
}

.submenu {
  margin: 20px 0 0 20px;
}

.content {
  padding: 20px;
}