@use '@/shared/styles/base/custom.scss';

// .table-dataset {
//   margin-top: 20px;
// }

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
  border: 1px solid custom.$primary-color;
  overflow: hidden;
  font-size: 0.9rem;
}

thead {
  background-color: custom.$tertiary-color;
  border-bottom: 2px solid custom.$primary-color;
}

th, td, tr {
  border: 1px solid custom.$primary-color;
  padding: 6px;
}

// custom
.table-label, 
.table-dataset,
.table,
.table-wrapper {
  border: 2px solid custom.$primary-color;
  border-radius: 8px;
}

.btn-column {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
