

.table-dataset {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #cbd5e0;
}

thead, td {
  background-color: #edf2f7;
}

th, td {
  border: 1px solid #cbd5e0;
  padding: 6px;
}

th {
  border-bottom: 1px solid #cbd5e0;
}
.th-head {
  background-color: #edf2f7;
}
.tr-sub {
  background-color: #f7fafc;
}

tr {
  border-bottom: 1px solid #e2e8f0;
  background-color: #f7fafc;
}
