

.add-form, .table-ratio, .parameter-test-ratio {
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 10px;
}

.add-ratio-section {
  display: flex;
  justify-content: space-between;
}

.add-form, .table-ratio {
  width: 48%;
}

.add-form, .parameter-test-ratio {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  button {
    align-self: flex-end;
    padding: 5px;
  }
}

.form-ratio {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
